{% extends "base.html" %}

{% block content %}

<style>
    .content-container {
        max-width: 800px;
        margin: 0 auto;
        background-color:  #296f3b;; /* Updated background color */
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #fff; /* Text color */
        text-align: center; /* Center align text */
    }

    h1, h2 {
        color: #000402; /* Heading color */
        margin-bottom: 10px; /* Add space below headings */
    }

    p {
        line-height: 1.4;
        font-size: 16px; /* Font size for paragraphs */
        margin-bottom: 15px; /* Add space below paragraphs */
    }

    a {
        color: #ffcc00;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
<br>    
<br><br><br>

<div class="content-container">
    <h1>About MEDICONNECT</h1>

    <p>Welcome to MEDICONNECT, your platform for medical assistance and community support. At MEDICONNECT, we strive to
        bridge the gap between those in need and those willing to help, fostering a community where health and
        well-being are paramount.</p>

    <h2>Our Mission</h2>

    <p>Our mission is to create a connected network of individuals and organizations dedicated to making a positive
        impact on healthcare accessibility and support. We believe that by uniting people with a common goal, we can
        contribute to a healthier and more resilient society.</p>

    <h2>Our Vision</h2>
    <p>Throwing away good medicine is wasteful.

        We found a Remedy.
        
        We are pharmacists who believe everyone should have access to
        
        the medication they need. By donating your unused, unopened meds to us, you
        
        help us fulfill our mission to provide life-saving meds to a patient in need.</p>

    <p>Thank you for being a part of MEDICONNECT. Together, we can make a difference in healthcare.</p>
</div>
{% endblock %}
