{% extends "base.html" %}

{% block content %}
<style>
    .content-container {
        max-width: 800px;
        margin: 0 auto;
        background-color: #296f3b; /* Updated background color */
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #fff; /* Text color */
        text-align: center; /* Center align text */
    }

    h1, h2 {
        color: #073602; /* Heading color */
        margin-bottom: 10px; /* Add space below headings */
    }

    p {
        line-height: 1.6;
        font-size: 16px; /* Font size for paragraphs */
        margin-bottom: 10px; /* Add space below paragraphs */
    }

    a {
        color: #dcc568;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<br><br><br>
<div class="content-container">
    <h2>Get in Touch</h2>

    <p>Have questions, suggestions, or just want to say hello? We'd love to hear from you!</p>

    <h2>Contact Information</h2>

    <p>Email: <a href="mailto:mediconnect007@gmail.com">mediconnect007@gmail.com</a></p>

    <p>Phone: +91 9072291398</p>

    <h2>Visit Us</h2>

    <p>Our Office: 123 Medical Street, Health City,Trivandrum</p>

    <h2>Connect on Social Media</h2>

    <p>Follow us on <a href="https://facebook.com/mediconnect" target="_blank">Facebook</a>, <a href="https://twitter.com/mediconnect" target="_blank">Twitter</a>, and <a href="https://instagram.com" target="_blank">Instagram</a>.</p>

    <p>We look forward to hearing from you!</p>
</div>
{% endblock %}
