{% extends "userdashboard.html" %}

{% block content %}
<style>
    .donate_med {
  background-color:  rgba(22, 73, 39,0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin: auto; /* Center the form horizontally */
}

.donate_med h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
  font-size: 28px;
}

.donate_med form {
  margin-top: 5px;
  color: rgb(255, 255, 255);

}
.form-control {
        width: 100%;
        height: 40px;
    }

.donate_med input {
  padding: 10px;
  border: 1px solid rgb(57, 165, 93);
  margin-bottom: 2px;
  width: 100%;
}

.donate_med table {
        width: 90%;
        margin-top: 10px;
    }

.donate_med button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
</style>
<br><br><br>
<div class="donate_med">
    <h2>Donation Form</h2>
    <form method="post" action="{% url 'medicine' %}">
        {% csrf_token %}
        <table>
          <tr>
            <td>{{ form.disease.label_tag }}</td>
            <td>{{ form.disease }}
                <input type="text" id="other-disease-input" name="other_disease" style="display: none;" placeholder="Enter the disease name:">
                <!-- {{ form.other_disease }} -->
            </td>
          </tr>
          <tr>
            <td>Medicine</td>
            <td>{{ form.name }}</td>
          </tr>
          <tr>
            <td>{{ form.dosage.label_tag }}</td>
            <td>{{ form.dosage }}</td>
          </tr>
          <tr>
            <td>{{ form.quantity.label_tag }}</td>
            <td>{{ form.quantity }}</td>
          </tr>
          <tr>
            <td>{{ form.expirydate.label_tag }}</td>
            <td>{{ form.expirydate }}</td>
          </tr>
          <tr>
            <td>{{ form.contents.label_tag }}</td>
            <td>{{ form.contents }}</td>
          </tr>
          <tr>
            <td>{{ form.manufacturer.label_tag }}</td>
            <td>{{ form.manufacturer }}</td>
          </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<Script>
    $(document).ready(function () {
        var diseaseSelect = $('#id_disease');
        var otherDiseaseInput = $('#other-disease-input');

        diseaseSelect.change(function () {
            var selectedDisease = $(this).val();

            if (selectedDisease === 'Other') {
                otherDiseaseInput.show();
            } else {
                otherDiseaseInput.hide();
            }
        });
    });
</Script>
{% endblock %}