{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br>
     
<div style="
            text-align: center;
            margin: auto;
            background-color: rgba(214, 223, 231, 0.9);
            color:rgba(9, 67, 36, 0.9) ;
            width:80%;
            padding: 2%;">
    <h1> Payment Sucess</h1>
    <p>Thankyou For Donating towards MediConnect. We value your support towards the moral cause.
        Your donation plays a crucial role in helping us achieve our mission at Mediconnect. 
        At MEDICONNECT, we strive to bridge the gap between those in need and those willing to help.
    </p>
</div>

{% endblock%}