<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    {% if messages %}   
    <div id="myModal" class="modal" style="
        display: none;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #dd9a4f;
        color: white;
        padding: 20px;
        z-index: 1;
    ">
        <span class="close" onclick="closeModal()" style="color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;">
        &times;</span>
        <p id="modal-content"></p>
    </div>
{% endif %}

    <h1>Available equipments</h1>
    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Rate</th>
            <th>Manufacturer</th>
            <th>Photo</th>
          </tr>
        </thead>
        <tbody>
          {% for aid in aids %}
            <tr>
              <td>{{ aid.name }}</td>
              <td>{{ aid.age }}</td>
              <td>{{ aid.rate }}</td>
              <td>{{ aid.manufacturer }}</td>
              <td>
                {% if aid.current_photo %}
                  <img src="{{ aid.current_photo.url }}" alt="{{ aid.name }} Photo" style="max-width: 250px; max-height: 250px;">
                {% else %}
                  No photo available
                {% endif %}
              </td>
              <td><button onclick="req('{{aid.id}}')">contact</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <script>
        function req(aid){
            window.location.href= "/saving_req?id="+encodeURIComponent(aid);
        }
        function displayModal(message) {
            var modal = document.getElementById('myModal');
            var modalContent = document.getElementById('modal-content');
            modalContent.innerHTML = message;
            modal.style.display = 'block';
        }

        // Function to close the modal
        function closeModal() {
            var modal = document.getElementById('myModal');

            modal.style.display = 'none';
        }

        // Include this at the end of your body
        window.onload = function() {
            // Display the modal on page load if there is a message
            // var alertMessage = "{{ messages }}";
            // if (alertMessage) {
            //     displayModal(alertMessage);
            //     // Hide the modal after 5 seconds (adjust as needed)
            //     setTimeout(closeModal, 5000);
            // }

            {% for message in messages %} 
        var alertMessage = "{{ message }}";
        if (alertMessage) {
            displayModal(alertMessage);
            // Hide the modal after 5 seconds (adjust as needed)
            setTimeout(closeModal, 5000);
        }
    {% endfor %}
        };
      </script>
    </body>
</html>